name:  Build image

on:
  push:
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - debian
          - rhel
          - rhel8
          - alpine

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build ${{ github.ref_name == 'main' && 'and push' || ''}} image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.${{ matrix.os }}
          cache-from: |
            type=gha,scope=${{ matrix.os }}-${{ github.ref_name }}
            type=gha,scope=${{ matrix.os }}-main
          cache-to: type=gha,mode=max,scope=${{ matrix.os }}-${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64
          push: ${{ github.ref_name == 'main' }}
          tags: falkordb/falkordb-build:${{ matrix.os }}
